.card__all {
  display: flex;
}
.card__card {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  box-sizing: border-box;
  width: 400px;
}
.card__logo {
  margin-left: 10px;
  height: 80px;
  width: 80px;
}

.card__tqr {
  display: flex;
  justify-content: space-between;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
