.example__all {
  display: flex;
  height: 588px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
.example__header {
  display: flex;
  background: rgba(76, 150, 215, 0.48);
  height: 48px;
}
.example__headertitle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1761a0;
}
.example__one {
  display: flex;
  flex-direction: row;
  max-height: 132px;
  width: 300px;
  flex-basis: 100%;
  justify-content: space-between;
}
.example__pics {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: center;
  max-height: 132px;
}
.example__icon {
  width: 132px;
  height: 116px;
}
.example__two {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  max-height: 132px;
}
.example__both {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.example__titles {
  text-align: center;
  display: flex;
  flex-basis: 100%;
  max-height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1761a0;
  
}
.example__title1 {
  flex-basis: 50%;
}
.example__title2 {
  flex-basis: 50%;
}


@include large {
.exmple__all {
  margin-left: 180px;
  margin-right: 180px;
}
}