.home__all {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 565px;
}

.home__pic {
  display: flex;
}

.card__logo {
  height: 140px;
  width: 140px;
}
