.home__all {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 565px;
}
.home__header {
  display: flex;
  background: rgba(76, 150, 215, 0.48);
  height: 48px;
}
.home__headertitle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1761a0;
}

.home__pic {
  display: flex;
}

.card__logo {
  height: 160px;
  width: 160px;
}
