/* Coolors Exported Palette - coolors.co/88ccf1-276fbf-031a6b-033860-087ca7 */

/* HSL */
$color1: hsla(201%, 79%, 74%, 1);
$color2: hsla(212%, 66%, 45%, 1);
$color3: hsla(227%, 95%, 22%, 1);
$color4: hsla(206%, 94%, 19%, 1);
$color5: hsla(196%, 91%, 34%, 1);

/* RGB */
$color1: rgba(136, 204, 241, 1);
$color2: rgba(39, 111, 191, 1);
$color3: rgba(3, 26, 107, 1);
$color4: rgba(3, 56, 96, 1);
$color5: rgba(8, 124, 167, 1);
