.resume__header {
  display: flex;
  background: rgba(76, 150, 215, 0.48);
  height: 48px;
}
.resume__all {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  margin-bottom: 25%;
}

.resume__headertitle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1761a0;
}

.resume__one {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1761a0;
}
.resume__two {
  background-color: royalblue;
}
