@import "./partials/breakpoint";
@import "./partials/card";
@import "./partials/palette";
@import "./partials/footer";
@import "./partials/home";
@import "./partials/form";
@import "./partials/example";
@import "./partials/home";
@import "./partials/resume";
@import "./partials/card";
@import "./partials/brian";
@import "./partials/buttons";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
  font-family: avenir;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
